*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-mark: 250;
  --hue-correct: 145;
  background-color: rgb(29, 26, 26);
}

* {
  box-sizing: border-box;
  font-family: "Nova Square", cursive;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 50%;

  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
  transform: scale(1.03);
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.question-btn {
  text-align: center;

  margin-bottom: 0.8rem;
  width: 100%;
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 200%;
  font-family: "Poppins", "sans-serif";
}

.question-btn:hover {
  border-color: black;
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.answer-buttons {
  width: 100%;
  align-items: center;
  align-content: center;
}

.question-btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.question-btn.correct:hover {
  --hue: var(--hue-correct);
  transform: scale(1);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(11, 184, 26, 0.6);
}

.question-btn.wrong {
  --hue: var(--hue-wrong);
}

.question-btn.wrong:hover {
  --hue: var(--hue-wrong);
  transform: scale(1);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(189, 23, 23, 0.6);
}

.question-btn.marked {
  --hue: var(--hue-mark);
}

.restart-btn,
.check-btn,
.next-btn,
.results-btn,
.toEndPage-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.initial-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
}

.start-btn {
  font-size: 1.5rem;

  padding: 10px 20px;

  justify-content: center;
  align-items: center;
  position: relative;
}

#question {
  font-size: 200%;

  font-family: "Poppins", "sans-serif";
}

#question-container {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.result {
  width: 100%;
}

#title {
  font-weight: bold;
  font-size: 250%;
  font-family: "Poppins", "sans-serif";
}

#title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  top: 30%;
}

#initial {
  height: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.result-box {
  text-align: center;
}

.result-box h1 {
  font-size: 36px;
  line-height: 42px;
}

.result-box table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.result-box table td {
  border: 1px solid #cccccc;
  padding: 8px 15px;
  font-weight: 500;
  color: #000000;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

.result-box .btn {
  margin-right: 20px;
}

#end {
  text-align: center;
}

#mainPage {
  text-align: center;
}

#progressBar {
  width: 10rem;
  height: 3rem;
  border: 0.2rem solid rgb(11, 223, 36);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: rgb(11, 223, 36);
  width: 0%;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#hud {
  display: flex;
  justify-content: space-between;
}
