*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

:root {
  --hue-neutral: 240;
  --hue-wrong: 0;
  --hue-mark: 200;
  --hue-correct: 120;

  background-color: rgb(29, 26, 26);
}

* {
  box-sizing: border-box;
  font-family: "Nova Square", cursive;
}

h1 {
  font-size: 3vw;
  font-weight: bold;

  font-family: "Poppins", "sans-serif";
}

p {
  font-size: 2vw;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  color: white;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 26, 26);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 50%;

  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  background-color: rgb(29, 26, 26);
}

/* Buttons */

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
  transform: scale(1.03);
}

.question-btn {
  text-align: center;
  margin-left: 10%;
  margin-bottom: 0.8rem;
  width: 80%;
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 200%;
  font-family: "Poppins", "sans-serif";
}

.question-btn:hover {
  border-color: black;
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.answer-buttons {
  width: 100%;
  align-items: center;
  align-content: center;
}

.question-btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.question-btn.correct:hover {
  --hue: var(--hue-correct);
  transform: scale(1);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(11, 184, 26, 0.6);
}

.question-btn.wrong {
  --hue: var(--hue-wrong);
}

.question-btn.wrong:hover {
  --hue: var(--hue-wrong);
  transform: scale(1);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(189, 23, 23, 0.6);
}

.question-btn.marked {
  --hue: var(--hue-mark);
}

.restart-btn,
.home-btn,
.results-btn,
.toEndPage-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.next-btn,
.check-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin-left: 10%;
}

.initial-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
}

.start-btn {
  font-size: 1.5rem;

  padding: 10px 20px;

  justify-content: center;
  align-items: center;
  position: relative;
}

.hide {
  display: none;
}

/* Initial Page */

#initial {
  padding: 10% 10%;
  align-items: center;
  text-align: center;
}

#title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
}

/* Main Page */

#progressBar {
  float: right;
  width: 40%;
  height: 2rem;
  border: 0.2rem solid rgb(11, 223, 36);

  margin-right: 11%;
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: rgb(11, 223, 36);
  width: 0%;
}

.hud-prefix {
  font-size: 1rem;
  display: inline;
  width: 100%;
}

#hud {
  justify-content: space-between;
  padding-left: 10%;
  float: left;
  width: 100%;
  padding-bottom: 3%;
  padding-top: 3%;
}

#progressText {
  display: inline;
  float: left;
  width: 20%;
}

#footer {
  padding-bottom: 5%;
  padding-top: 3%;
}

#title {
  margin-left: 10%;
}

#question {
  margin-left: 10%;
  margin-right: 7%;

  font-family: "Poppins", "sans-serif";
}

#question-container {
  justify-content: center;
  padding-bottom: 2%;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

/* End Page */

#end {
  text-align: center;
  font-size: 2.5vw;
}

/* Result Page */

.result-box {
  text-align: center;
  padding-bottom: 2%;
}

.result-box table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.result-box table td {
  border: 1px solid #cccccc;
  padding: 8px 15px;
  font-weight: 500;
  color: white;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

.result-box .btn {
  margin-right: 20px;
}

#breakdown {
  table-layout: fixed;
}
